body {
    background-color: #d3d3d3; /* Gris clair pour l'arrière-plan */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333; /* Titre en gris foncé */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style des champs d'entrée */
input.t {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
}

input.t34 {
    width: 120px;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}


button {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #333; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; 
}


center {
    background-color: #e0e0e0; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
/* Style spécifique pour les boutons "Parité" et "Permute" */
button.small-button {
    width: 60px;       /* Assure que la taille est la même que les autres boutons */
    height: 60px;      /* Assure que la hauteur est la même que les autres boutons */
    font-size: 10px;   /* Réduit légèrement la taille du texte pour qu'il tienne bien */
}